@media only screen and (max-width:1029px){
    .nav-list{
        width: 100%;
    }
}
@media only screen and (min-width:865px){
    .nav-list{
        background-color: black;
    }
    .navbar{
        background-color: black;
    }
    .rightnav{
        background-color: black;
    }
}
@media only screen and (max-width:864px){
    .dpl{
        background: rgb(0, 0, 0, 0.7) url(../img/building.jpg);
        background-size: cover;
        background-blend-mode: darken;
    }
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 400px;
    }
    .logo{
        margin: auto;
    }
    .logo img{
        width: 100%;
    }
    .logo img{
        height: 110%;
    }
    .rightnav{
        width: 80%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 60px;
    }
    .v-class{
        opacity: 0;
    }
    .nav-list li{
        margin: 15px 0px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
}

@media only screen and (max-width:1100px){
    .thumbnail{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .thumbnail img{
        height: 200px;
        width: 250px;
    }
    .secright{
        flex-direction: column;
        padding: 0px 0px;
    }
    .secleft{
        flex-direction: column;
        padding: 0px 0px;

    }
    .box-main{
        padding: 50px 0px;
    }
    .ooi{
        padding: 0px 0px;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .sectiontag{
        text-align: center;
    }
    .sectionsubtag{
        text-align: center;
        padding: 0px 0px;
    }
    .mpl{
        text-align: center;
    }

}